/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.item {
    background-color: aquamarine;
    border: 1px solid orange;
    width:50%;
    padding: 10px;
}

.large {
    width: 100%;
}
@media screen and (max-width: 768px) {
.item{
    width: 100%;
}    
}
